# Каталоги данных
data/

# Виртуальные окружения
venv/
.venv/

# Кэш и временные файлы
__pycache__/
*.pyc
*.pyo
*.pyd

# Файлы конфигурации окружения
.env
.env.*

# Логи и базы данных
*.log
*.sqlite3

# Кэш и временные файлы
.cache
*.swp

# Интегрированные среды разработки
.idea/
.vscode/

# Системные файлы
.DS_Store
Thumbs.db

# Тесты и отчеты
**/tests/
**/test_reports/
**/coverage/
*.cover
*.log
*.pid
*.seed
*.pid.lock

# Docker
docker-compose.override.yml

# Схемы баз данных
database_schema_diagram.svg

# Git
.git/
.gitignore