{% extends 'base/base.html' %}
{% load static %}

{% block title %}Главная | RentApp{% endblock %}

{% block content %}
<div class="jumbotron text-center">
    <h1 class="display-4">Найдите идеальное жилье для аренды!</h1>
    <p class="lead">Широкий выбор недвижимости по всему миру</p>
    <form method="get" action="{% url 'search_results' %}">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-md-3 mb-3">
                <input type="text" name="location" class="form-control" placeholder="Город, регион">
            </div>
           <div class="col-md-2 mb-3">
    <select name="property_type" class="form-control">
        <option value="">Тип недвижимости</option>
        {% for type, name in property_types %}
            <option value="{{ type }}" {% if request.GET.property_type == type %}selected{% endif %}>
                {{ name }}
            </option>
        {% endfor %}
    </select>
</div>

            <div class="col-md-2 mb-3">
                <input type="date" name="checkin" class="form-control" placeholder="Дата заезда">
            </div>
            <div class="col-md-2 mb-3">
                <input type="date" name="checkout" class="form-control" placeholder="Дата выезда">
            </div>
            <div class="col-md-1">
                <button type="submit" class="btn btn-primary">Найти</button>
            </div>
        </div>
    </form>
</div>

<!-- Примеры недвижимости -->
<div class="container mt-5">
    <h2>Популярные объекты</h2>
    {% if properties %}
    <div class="row">
        {% for property in properties %}
        <div class="col-md-4 mb-4">
            <div class="card">
                {% if property.photos %}
                    <img src="{{ property.photos.url }}" class="card-img-top" alt="{{ property.title }}">
                {% else %}
                    <img src="{% static 'images/default-image.jpg' %}" class="card-img-top" alt="{{ property.title }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ property.title }}</h5>
                    <p class="card-text">{{ property.description|truncatewords:20 }}</p>
                    <p class="card-text">{{ property.price }} руб./ночь</p>
                    <a href="{% url 'property_detail' property.pk %}" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
        <p>На данный момент нет доступных объектов недвижимости.</p>
    {% endif %}
</div>
{% endblock %}
