{% extends 'base/base.html' %}
{% load static %}

{% block title %}Профиль | RentApp{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Личный кабинет</h2>
    <p>Добро пожаловать, {{ user.first_name }}!</p>

    <h3>Ваши бронирования</h3>
    <ul class="list-group">
        {% for booking in bookings %}
        <li class="list-group-item">
            <strong>{{ booking.property.title }}</strong> - {{ booking.checkin_date }} по {{ booking.checkout_date }}
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
