{% extends "base.html" %}

{% block title %}Мои бронирования{% endblock %}

{% block content %}
<h1>Мои бронирования</h1>

{% if bookings %}
    <ul>
    {% for booking in bookings %}
        <li>
            Объект: {{ booking.property.title }} <br>
            Дата заезда: {{ booking.check_in }} <br>
            Дата выезда: {{ booking.check_out }} <br>
            Статус: {{ booking.status }}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>У вас пока нет бронирований.</p>
{% endif %}
{% endblock %}
