{% load static %}
{% extends 'base.html' %}

{% block content %}
    <h1>Результаты поиска</h1>
    <form method="GET" action="{% url 'property_search' %}">
        <input type="text" name="q" placeholder="Введите название или описание">
        <button type="submit">Поиск</button>
    </form>

    <ul>
        {% for property in properties %}
            <li>{{ property.title }} - {{ property.description }}</li>
        {% empty %}
            <li>Нет доступных объектов.</li>
        {% endfor %}
    </ul>
{% endblock %}
